
<h1>user profile</h1>
<p><%= user.name %></p>
        <p><%= user.email %></p>

        <script type="text/javascript">
            function preventBack() {
                window.history.forward(); 
            }
              
            setTimeout("preventBack()", 0);
              
            window.onunload = function () { null };
        </script> 