<link rel="stylesheet" href="/css/sign_in.css">

    <form action="/users/create-session" method="post">
        <div>
            <input type="email" name="email" placeholder="email" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="password" required>
        </div>
        <div>
            <input type="submit" value="sign in">
        </div>
    </form>
